.card{
    background: white;
    padding: 1rem;
    min-width: 350px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.title {
    text-align: center;
    font-size: 1.3rem;
}

.logo {
    width: 200px;
}

.cardHeader{
    justify-content: center;
    align-items: center;
}

.w100{
    width: 100%;
}

.btnPago {
    width: 100%;
    height: 50px;
    font-size: 24px;
}

.center{
    justify-content: center;
    align-items: center;
    display: flex;
}

.error{
    color: red;
}

.succesText{
    color: chartreuse;
}
